@import url('https://fonts.googleapis.com/css2?family=Combo&family=Irish+Grover&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Combo, cursive;
    font-weight: 400;
    color: #003300;
}
/* headings and Logo */

h1 {
    font-family: "Irish Grover", cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003300;
}
h2 {
    font-family: "Irish Grover", cursive;
    letter-spacing: 4px;
    color: #003300;
}
#logo {
    float: left;
    font-size: 300%;
}
#menu {
    font-family: "Irish Grover", cursive;
    font-size: 120%;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style: none;
    margin-right: 4px;
    padding: 20px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    color: #ac5c06;
}