@import url('https://fonts.googleapis.com/css2?family=Combo&family=Irish+Grover&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Combo, cursive;
    font-weight: 400;
    color: #003300;
}
/* headings and Logo */

h1 {
    font-family: "Irish Grover", cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003300;
}
h2 {
    font-family: "Irish Grover", cursive;
    letter-spacing: 4px;
    color: #a4780a;
}
#logo {
    float: left;
    font-size: 300%;
    margin-left: 40px;
}
#menu {
    font-family: "Irish Grover", cursive;
    font-size: 150%;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style: none;
    margin-right: 4px;
    padding: 20px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    color: #ac5c06;
}
/*main image*/

#main-outer {
    height:600px;
    width:100%;
    overflow: hidden;
}
#main-image {
    height:600px;
    width:100%;
    background: url(../images/McDermott3.jpeg) no-repeat center center;

    /* animates zoom affect on loanding page*/
    animation-name: main-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
/*creates a level of zoom for the main image*/
@keyframes main-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }    
}

/* six castles*/
#six-castles {
    height: 600px;

}
#first-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#second-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#third-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#fourth-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#fifth-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#sixth-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#welcome {
    text-align: center;
    color: #003300;
    margin: 30px 0;
    font-size: 280%;
}

/*adding the images*/
#one {
    background: url(../images/pic\ 777.jpg) no-repeat center center;
    height: 100%;
}
#two {
    background: url(../images/Mcdermott4.jpeg) no-repeat center center;
    height: 100%;
}
#three {
    background: url(../images/Mcdermott4.jpeg) no-repeat center center;
    height: 100%;
}
#four {
    background: url(../images/Mcdermott4.jpeg) no-repeat center center;
    height: 100%;
}
#five {
    background: url(../images/Mcdermott4.jpeg) no-repeat center center;
    height: 100%;
}
#six {
    background: url(../images/Mcdermott4.jpeg) no-repeat center center;
    height: 100%;
}