@import url('https://fonts.googleapis.com/css2?family=Combo&family=Irish+Grover&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Combo, cursive;
    font-weight: 400;
    color: #003300;
}
/* headings and Logo */

h1 {
    font-family: "Irish Grover", cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003300;
}
h2 {
    font-family: "Irish Grover", cursive;
    letter-spacing: 4px;
    color: #534217;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 40px;
}
#menu {
    font-family: "Irish Grover", cursive;
    font-size: 120%;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style: none;
    margin-right: 4px;
    padding: 20px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    color: #ac5c06;
}
/*main image*/

#main-outer {
    height:600px;
    width:100%;
    overflow: hidden;
}
#main-image {
    height:600px;
    width:100%;
    background: url(../images/mainpicture.jpg) no-repeat center center;
    background-size: cover;

    /* animates zoom affect on loanding page*/
    animation-name: main-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
/*creates a level of zoom for the main image*/
@keyframes main-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }    
}

/* six castles*/
#six-castles {
    height: 600px;

}
#first-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#second-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#third-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#fourth-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#fifth-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#sixth-castle {
    padding-top: 30px;
    width: 33%;
    float: left;
    height: 300px;
    text-align: center;
}
#welcome {
    text-align: center;
    color: #003300;
    margin: 30px 0;
    font-size: 280%;
}

/*adding the images*/
#one {
    background: url(../images/kilkenny1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#two {
    background: url(../images/kylemore1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#three {
    background: url(../images/dublin2.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#four {
    background: url(../images/ashford2.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#five {
    background: url(../images/slane1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#six {
    background: url(../images/bunratty1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
#six-castles div {
    border: 2px solid white;
    box-sizing: border-box;
}
#six-castles a {
    text-decoration: none;
}

/* footer style*/

footer {
    height: 150px;
    bottom: 0;
    width: 100%;
    float: left;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #093609;
}

/* castle descriptions files/about us */ 

.photos {
    width: 50%;
    float: left;
    overflow:hidden;
    clear: both;
    line-height: 0;
}

.photos > img {
    width: 100%;
    height: 300px;
}

.description {
    font-size: large;
    width: 50%;
    height: 600px;
    float: left;
    text-align: center;
}

.description > p {
    text-align: center;
    padding: 50px 50px;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #six-castles {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #six-castles > div {
        float: left;
        width: 100%;
        padding: 0;
    }


    #welcome {
        padding: 30px 0;
        margin: 0;
    }
}
 /* for medium screen sizes from 950px wide and down*/
 @media screen and (max-width: 950px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #six-castles {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .photos, .description {
        width: 90%;
        height: 600px;
        margin: 0 auto;
        text-align: center;
        padding: 0 20px;
    }
    .description h2 {
        width: 100%;
        padding: 5px 20px;  
    }
    .description p {
        padding: 5px 10px;
    }
 }
/*about us file*/
 #about {
    text-align: center;
    height: 100%;
    float: left;
    padding: 50px;
    margin: 20px 40px;
    background: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 #about > p {
    font-size: x-large;
    font-weight: bold;
    color: black;
    background-color: rgba(0, 0, 0, .2);

 }