@import url('https://fonts.googleapis.com/css2?family=Combo&family=Irish+Grover&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Combo, cursive;
    font-weight: 400;
    color: #ac5c06;
    text-emphasis: bold;
}
/* headings and Logo */

h1 {
    font-family: "Irish Grover", cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003300;
}
h2 {
    font-family: "Irish Grover", cursive;
    letter-spacing: 4px;
    color: #003300;

}
nav {
    font-family: "Irish Grover", cursive;
    letter-spacing: 4px;
    color: #003300;
}
#logo {
    float: left;
    font-size: 300%;
}
